.cart-item-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
    justify-content: center;
}

.element {
    text-align: center;
}

.remove-button {
    background-color: red;
    color: white;
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto;
}