.itemDetailContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemDetailContainer img {
    width: 20%;
    margin-right: 20px;
}

.itemDetailContainer .title {
    font-size: 23px;
    font-weight: bold;
}

.itemDetailContainer .price {
    font-size: 20px;
}