.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 30%;
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.label .imput {
    max-width: 40%;
}

.order {
    display: flex;
    flex-direction: column;
    align-items: center;
}